/node_modules
/public/hot
/public/storage
/public/app
/storage/*.key
/storage/debugbar
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
/public/upload
/public/uploads
*/.DS_Store
.DS_Store
/public/.user.ini
.user.ini
_ide_helper.php
/Log/*.log
/Temp/*